.window {
  &__header {

    &__container {
      background: linear-gradient(90deg, $primary, $secondary);
      padding: 10px 5px;
      color: $header-color;
      font-weight: $bold;
      z-index: 1;

      @include box-shadow(0 2px 2px -2px $madison);
    }

  }
}