.window {
  &__messages {

    &__container {
      @include flex(column, flex-start);
      flex-grow: 999;
      overflow: auto;
      padding: 3px 0;
      border-left: 1px solid $alice-blue;
      border-right: 1px solid $alice-blue;
      border-bottom: 1px solid $alice-blue;
      transition: all 0.5s;
      overflow: scroll;
      overflow-x: hidden;

      &::-webkit-scrollbar {
        width: 0px;  /* remove scrollbar space */
        background: transparent;  /* optional: just make scrollbar invisible */
    }
  
        &::-webkit-scrollbar {
          width: 0;
      }
      
      &::-webkit-scrollbar-track {
      }
      
      &::-webkit-scrollbar-thumb {
        background-color: transparent;
      }
    }
  }
}