.window {
  @include flex(column);
  @include box-shadow(0 0 2px $madison);
  max-width: $window-width;
  height: $window-height;
  border: 0px solid transparent;
  border-radius: 15px;
  overflow: hidden;
}