$liberty: #5F5AA2;
$amethyst: #9067C6;
$purple-navy: #4E4A85;
$slate-blue: #6B63D8;
$lavender: #B284ED;
$lavender-gray: #CBC9D6;
$white: #FFFFFF;
$ghost-white: #FAF9FF;
$alice-blue: #F2EFFF;
$madison: #2C3E50;